<div class="dashboard-container">
  <div class="header-main">
    <div class="left-side">
      <div class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          placeholder="Search patients by name or ID..."
          (keyup)="onSearch($any($event.target).value)"
          class="search-input"
        />
      </div>
    </div>

    <div class="right-side">
      <div class="title-section">
        <h1>Patients</h1>
        <p>Manage records</p>
      </div>
      <button mat-flat-button color="primary" class="add-btn" (click)="add()">
        <mat-icon>person_add</mat-icon>
        Add Patient
      </button>
    </div>
  </div>


  <div class="patient-grid">
    @for (p of data; track p.id) {
      <mat-card class="patient-card">

        <div class="card-header">
          <div class="avatar">{{ p.firstName?.[0] || '?' }}</div>

          <div class="patient-info">
            <div class="name-row">
              <h3>{{ p.firstName }} {{ p.lastName }}</h3>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </div>

            <div class="tags">
              <span class="tag gender">{{ p.gender }}</span>
              <span class="tag id">ID: #{{ p.id?.substring(0, 5) }}</span>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="info-item">
            <mat-icon>calendar_today</mat-icon>
            {{ p.dob | date }}
          </div>
          <div class="info-item">
            <mat-icon>call</mat-icon>
            N/A
          </div>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(p)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-menu-item (click)="deactivate(p)">
            <mat-icon color="warn">delete</mat-icon> Deactivate
          </button>
        </mat-menu>

      </mat-card>
    }
  </div>


  <mat-paginator
    [length]="total"
    [pageSize]="size"
    [pageIndex]="page"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>
